*{
    margin: 0;
    padding: 0;
}
.nav-bar{
    height:40px;
    background-color: black;
    padding-top: 20px;
    text-align: center;
}
.nav-bar a{
    font-size: 20px;
    font-family: Times, serif;
    text-decoration: none;
    text-shadow: 0 0 0.50em rgb(255, 119, 237),  0 0 0.50em rgb(244, 119, 255);
    color: aliceblue;
    animation-name: anima;
    animation-duration:  6s; 
    animation-direction: alternate;
}
@keyframes anima {
    20%{
        color: rgba(255, 192, 203, 0);
    }
    10%{
        padding-left: 110%;
    }
}
